.leftSidebar {
    position: sticky;
    top: 120px;
    z-index: 1;
    width: 80%;
    .card {
        padding: 25px;
        border-radius: 10px !important;
        margin-bottom: 30px;

        .catList {
            .catItem {
                padding: 10px 10px;
                border: transparent;
                cursor: pointer;
                margin: 3px 0px;
                transition: all 0.3s ease-in-out;
                border-radius: 20px;

                h4 {
                    font-size: 16px;
                    color: #000;
                }
            }

            .catItem:hover {
                border: 1px solid rgba(0, 0, 0, 0.3);
            }
        }

    }


}